{% extends 'default.html' %}
{% set active = 'departments' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <table id="departments-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Num</th>
                        <th>Department</th>
                        <th>Size</th>
                        <th>Salary</th>
                        <th>Avg. Salary</th>
                    </tr>
                </thead>
                <tbody>
                <!--initialized in js-->
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <a class="btn-lg btn-primary center-block text-center"
    href={{ url_for('add_department') }}  style="text-decoration:none;">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Add new</span>
    </a>
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/departments.js') }}"></script>
{% endblock %}